body {
  background-color: rgb(244, 248, 255);
}

.name {
  margin: 3px;
  padding: 5px 10px;
  float: right;
  color: white;
  border-radius: 5px;
}

.nameContainer {
  width: 100%;
  padding: 0 10%;
}

.nameContainer>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.favorite {
  display: flex;
  justify-content: flex-start;
}

.favorite p {
  margin: auto 0;
}

.form-group {
  width: 300px;
  margin: 90px auto;
  display: flex;
}

.form-group button{
  margin: 0 3px;
  border: none;
  border-radius: 2px;
  padding: 0 10px;
  color: white;
}
.form-group #A{
  color: rgb(80, 80, 80);
}

