
body{
  background-color: rgb(244, 248, 255);
}
.name{
  margin: 3px;
  padding: 5px 10px;
  float: right;
  color: white;
  border-radius: 5px;
}
.nameContainer{
  width: 100%;
  padding: 0 10%;
}
.nameContainer > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-control{
  width: 300px;
  margin: 90px auto;
}